$--material-theme--white: #ffffff;
$--material-theme--black: #000000;

:root {
    --material-theme--sys--light--primary: #5555a9;
    --material-theme--sys--light--on-primary: #ffffff;
    --material-theme--sys--light--primary-container: #e2dfff;
    --material-theme--sys--light--on-primary-container: #0d0664;
    --material-theme--sys--light--primary-fixed: #e2dfff;
    --material-theme--sys--light--on-primary-fixed: #0d0664;
    --material-theme--sys--light--primary-fixed-dim: #c1c1ff;
    --material-theme--sys--light--on-primary-fixed-variant: #3d3c8f;
    --material-theme--sys--light--secondary: #5d5c72;
    --material-theme--sys--light--on-secondary: #ffffff;
    --material-theme--sys--light--secondary-container: #e2e0f9;
    --material-theme--sys--light--on-secondary-container: #1a1a2c;
    --material-theme--sys--light--secondary-fixed: #e2e0f9;
    --material-theme--sys--light--on-secondary-fixed: #1a1a2c;
    --material-theme--sys--light--secondary-fixed-dim: #c6c4dd;
    --material-theme--sys--light--on-secondary-fixed-variant: #454559;
    --material-theme--sys--light--tertiary: #795369;
    --material-theme--sys--light--on-tertiary: #ffffff;
    --material-theme--sys--light--tertiary-container: #ffd8eb;
    --material-theme--sys--light--on-tertiary-container: #2f1124;
    --material-theme--sys--light--tertiary-fixed: #ffd8eb;
    --material-theme--sys--light--on-tertiary-fixed: #2f1124;
    --material-theme--sys--light--tertiary-fixed-dim: #e9b9d2;
    --material-theme--sys--light--on-tertiary-fixed-variant: #5f3c51;
    --material-theme--sys--light--error: #ba1a1a;
    --material-theme--sys--light--on-error: #ffffff;
    --material-theme--sys--light--error-container: #ffdad6;
    --material-theme--sys--light--on-error-container: #410002;
    --material-theme--sys--light--outline: #777680;
    --material-theme--sys--light--background: #fffbff;
    --material-theme--sys--light--on-background: #1c1b1f;
    --material-theme--sys--light--surface: #fcf8fd;
    --material-theme--sys--light--on-surface: #1c1b1f;
    --material-theme--sys--light--surface-variant: #e4e1ec;
    --material-theme--sys--light--on-surface-variant: #47464f;
    --material-theme--sys--light--inverse-surface: #313034;
    --material-theme--sys--light--inverse-on-surface: #f3eff4;
    --material-theme--sys--light--inverse-primary: #c1c1ff;
    --material-theme--sys--light--shadow: #000000;
    --material-theme--sys--light--surface-tint: #5555a9;
    --material-theme--sys--light--outline-variant: #c8c5d0;
    --material-theme--sys--light--scrim: #000000;
    --material-theme--sys--light--surface-container-highest: #e5e1e6;
    --material-theme--sys--light--surface-container-high: #ebe7ec;
    --material-theme--sys--light--surface-container: #f0edf1;
    --material-theme--sys--light--surface-container-low: #f6f2f7;
    --material-theme--sys--light--surface-container-lowest: #ffffff;
    --material-theme--sys--light--surface-bright: #fcf8fd;
    --material-theme--sys--light--surface-dim: #dcd9dd;

    --material-theme--surfaces--light--surface1: #fcf8fd;
    --material-theme--surfaces--light--surface2: #fcf8fd;
    --material-theme--surfaces--light--surface3: #fcf8fd;
    --material-theme--surfaces--light--surface4: #fcf8fd;
    --material-theme--surfaces--light--surface5: #fcf8fd;
}

:root.dark-theme {
    --material-theme--sys--dark--primary: #c1c1ff;
    --material-theme--sys--dark--on-primary: #252477;
    --material-theme--sys--dark--primary-container: #3d3c8f;
    --material-theme--sys--dark--on-primary-container: #e2dfff;
    --material-theme--sys--dark--primary-fixed: #e2dfff;
    --material-theme--sys--dark--on-primary-fixed: #0d0664;
    --material-theme--sys--dark--primary-fixed-dim: #c1c1ff;
    --material-theme--sys--dark--on-primary-fixed-variant: #3d3c8f;
    --material-theme--sys--dark--secondary: #c6c4dd;
    --material-theme--sys--dark--on-secondary: #2f2f42;
    --material-theme--sys--dark--secondary-container: #454559;
    --material-theme--sys--dark--on-secondary-container: #e2e0f9;
    --material-theme--sys--dark--secondary-fixed: #e2e0f9;
    --material-theme--sys--dark--on-secondary-fixed: #1a1a2c;
    --material-theme--sys--dark--secondary-fixed-dim: #c6c4dd;
    --material-theme--sys--dark--on-secondary-fixed-variant: #454559;
    --material-theme--sys--dark--tertiary: #e9b9d2;
    --material-theme--sys--dark--on-tertiary: #46263a;
    --material-theme--sys--dark--tertiary-container: #5f3c51;
    --material-theme--sys--dark--on-tertiary-container: #ffd8eb;
    --material-theme--sys--dark--tertiary-fixed: #ffd8eb;
    --material-theme--sys--dark--on-tertiary-fixed: #2f1124;
    --material-theme--sys--dark--tertiary-fixed-dim: #e9b9d2;
    --material-theme--sys--dark--on-tertiary-fixed-variant: #5f3c51;
    --material-theme--sys--dark--error: #ffb4ab;
    --material-theme--sys--dark--on-error: #690005;
    --material-theme--sys--dark--error-container: #93000a;
    --material-theme--sys--dark--on-error-container: #ffdad6;
    --material-theme--sys--dark--outline: #918f9a;
    --material-theme--sys--dark--background: #1c1b1f;
    --material-theme--sys--dark--on-background: #e5e1e6;
    --material-theme--sys--dark--surface: #131316;
    --material-theme--sys--dark--on-surface: #c8c5ca;
    --material-theme--sys--dark--surface-variant: #47464f;
    --material-theme--sys--dark--on-surface-variant: #c8c5d0;
    --material-theme--sys--dark--inverse-surface: #e5e1e6;
    --material-theme--sys--dark--inverse-on-surface: #1c1b1f;
    --material-theme--sys--dark--inverse-primary: #5555a9;
    --material-theme--sys--dark--shadow: #000000;
    --material-theme--sys--dark--surface-tint: #c1c1ff;
    --material-theme--sys--dark--outline-variant: #47464f;
    --material-theme--sys--dark--scrim: #000000;
    --material-theme--sys--dark--surface-container-highest: #353438;
    --material-theme--sys--dark--surface-container-high: #2a292d;
    --material-theme--sys--dark--surface-container: #201f23;
    --material-theme--sys--dark--surface-container-low: #1c1b1f;
    --material-theme--sys--dark--surface-container-lowest: #0e0e11;
    --material-theme--sys--dark--surface-bright: #3a393c;
    --material-theme--sys--dark--surface-dim: #131316;

    --material-theme--surfaces--dark--surface1: #131316;
    --material-theme--surfaces--dark--surface2: #131316;
    --material-theme--surfaces--dark--surface3: #131316;
    --material-theme--surfaces--dark--surface4: #131316;
    --material-theme--surfaces--dark--surface5: #131316;
}

$--material-theme--ref--primary--primary0: #000000;
$--material-theme--ref--primary--primary10: #0d0664;
$--material-theme--ref--primary--primary20: #252477;
$--material-theme--ref--primary--primary30: #3d3c8f;
$--material-theme--ref--primary--primary40: #5555a9;
$--material-theme--ref--primary--primary50: #6e6ec3;
$--material-theme--ref--primary--primary60: #8788df;
$--material-theme--ref--primary--primary70: #a2a2fc;
$--material-theme--ref--primary--primary80: #c1c1ff;
$--material-theme--ref--primary--primary90: #e2dfff;
$--material-theme--ref--primary--primary95: #f2efff;
$--material-theme--ref--primary--primary99: #fffbff;
$--material-theme--ref--primary--primary100: #ffffff;
$--material-theme--ref--primary--primary4: #040044;
$--material-theme--ref--primary--primary5: #05004c;
$--material-theme--ref--primary--primary6: #060053;
$--material-theme--ref--primary--primary12: #120d67;
$--material-theme--ref--primary--primary17: #1e1c71;
$--material-theme--ref--primary--primary22: #2a297c;
$--material-theme--ref--primary--primary24: #2f2e81;
$--material-theme--ref--primary--primary25: #313083;
$--material-theme--ref--primary--primary35: #49499c;
$--material-theme--ref--primary--primary87: #d8d6ff;
$--material-theme--ref--primary--primary92: #e8e5ff;
$--material-theme--ref--primary--primary94: #efecff;
$--material-theme--ref--primary--primary96: #f5f2ff;
$--material-theme--ref--primary--primary98: #fcf8ff;
$--material-theme--ref--secondary--secondary0: #000000;
$--material-theme--ref--secondary--secondary10: #1a1a2c;
$--material-theme--ref--secondary--secondary20: #2f2f42;
$--material-theme--ref--secondary--secondary30: #454559;
$--material-theme--ref--secondary--secondary40: #5d5c72;
$--material-theme--ref--secondary--secondary50: #76758b;
$--material-theme--ref--secondary--secondary60: #908ea5;
$--material-theme--ref--secondary--secondary70: #aba9c1;
$--material-theme--ref--secondary--secondary80: #c6c4dd;
$--material-theme--ref--secondary--secondary90: #e2e0f9;
$--material-theme--ref--secondary--secondary95: #f2efff;
$--material-theme--ref--secondary--secondary99: #fffbff;
$--material-theme--ref--secondary--secondary100: #ffffff;
$--material-theme--ref--secondary--secondary4: #0c0c1e;
$--material-theme--ref--secondary--secondary5: #0f0f21;
$--material-theme--ref--secondary--secondary6: #111223;
$--material-theme--ref--secondary--secondary12: #1e1e30;
$--material-theme--ref--secondary--secondary17: #28283b;
$--material-theme--ref--secondary--secondary22: #333346;
$--material-theme--ref--secondary--secondary24: #38374b;
$--material-theme--ref--secondary--secondary25: #3a3a4d;
$--material-theme--ref--secondary--secondary35: #515065;
$--material-theme--ref--secondary--secondary87: #dad7f1;
$--material-theme--ref--secondary--secondary92: #e8e5ff;
$--material-theme--ref--secondary--secondary94: #efecff;
$--material-theme--ref--secondary--secondary96: #f5f2ff;
$--material-theme--ref--secondary--secondary98: #fcf8ff;
$--material-theme--ref--tertiary--tertiary0: #000000;
$--material-theme--ref--tertiary--tertiary10: #2f1124;
$--material-theme--ref--tertiary--tertiary20: #46263a;
$--material-theme--ref--tertiary--tertiary30: #5f3c51;
$--material-theme--ref--tertiary--tertiary40: #795369;
$--material-theme--ref--tertiary--tertiary50: #946b82;
$--material-theme--ref--tertiary--tertiary60: #b0849c;
$--material-theme--ref--tertiary--tertiary70: #cc9eb7;
$--material-theme--ref--tertiary--tertiary80: #e9b9d2;
$--material-theme--ref--tertiary--tertiary90: #ffd8eb;
$--material-theme--ref--tertiary--tertiary95: #ffecf3;
$--material-theme--ref--tertiary--tertiary99: #fffbff;
$--material-theme--ref--tertiary--tertiary100: #ffffff;
$--material-theme--ref--tertiary--tertiary4: #1f0416;
$--material-theme--ref--tertiary--tertiary5: #220719;
$--material-theme--ref--tertiary--tertiary6: #25091c;
$--material-theme--ref--tertiary--tertiary12: #331528;
$--material-theme--ref--tertiary--tertiary17: #3f1f33;
$--material-theme--ref--tertiary--tertiary22: #4b2a3e;
$--material-theme--ref--tertiary--tertiary24: #502e43;
$--material-theme--ref--tertiary--tertiary25: #533145;
$--material-theme--ref--tertiary--tertiary35: #6c475d;
$--material-theme--ref--tertiary--tertiary87: #fecce6;
$--material-theme--ref--tertiary--tertiary92: #ffe0ee;
$--material-theme--ref--tertiary--tertiary94: #ffe8f2;
$--material-theme--ref--tertiary--tertiary96: #fff0f5;
$--material-theme--ref--tertiary--tertiary98: #fff8f8;
$--material-theme--ref--error--error0: #000000;
$--material-theme--ref--error--error10: #410002;
$--material-theme--ref--error--error20: #690005;
$--material-theme--ref--error--error30: #93000a;
$--material-theme--ref--error--error40: #ba1a1a;
$--material-theme--ref--error--error50: #de3730;
$--material-theme--ref--error--error60: #ff5449;
$--material-theme--ref--error--error70: #ff897d;
$--material-theme--ref--error--error80: #ffb4ab;
$--material-theme--ref--error--error90: #ffdad6;
$--material-theme--ref--error--error95: #ffedea;
$--material-theme--ref--error--error99: #fffbff;
$--material-theme--ref--error--error100: #ffffff;
$--material-theme--ref--error--error4: #280001;
$--material-theme--ref--error--error5: #2d0001;
$--material-theme--ref--error--error6: #310001;
$--material-theme--ref--error--error12: #490002;
$--material-theme--ref--error--error17: #5c0004;
$--material-theme--ref--error--error22: #710005;
$--material-theme--ref--error--error24: #790006;
$--material-theme--ref--error--error25: #7e0007;
$--material-theme--ref--error--error35: #a80710;
$--material-theme--ref--error--error87: #ffcfc9;
$--material-theme--ref--error--error92: #ffe2de;
$--material-theme--ref--error--error94: #ffe9e6;
$--material-theme--ref--error--error96: #fff0ee;
$--material-theme--ref--error--error98: #fff8f7;
$--material-theme--ref--neutral--neutral0: #000000;
$--material-theme--ref--neutral--neutral4: #0e0e11;
$--material-theme--ref--neutral--neutral6: #131316;
$--material-theme--ref--neutral--neutral10: #1c1b1f;
$--material-theme--ref--neutral--neutral12: #201f23;
$--material-theme--ref--neutral--neutral17: #2a292d;
$--material-theme--ref--neutral--neutral20: #313034;
$--material-theme--ref--neutral--neutral22: #353438;
$--material-theme--ref--neutral--neutral24: #3a393c;
$--material-theme--ref--neutral--neutral30: #47464a;
$--material-theme--ref--neutral--neutral40: #5f5e62;
$--material-theme--ref--neutral--neutral50: #78767a;
$--material-theme--ref--neutral--neutral60: #929094;
$--material-theme--ref--neutral--neutral70: #adaaaf;
$--material-theme--ref--neutral--neutral80: #c8c5ca;
$--material-theme--ref--neutral--neutral87: #dcd9dd;
$--material-theme--ref--neutral--neutral90: #e5e1e6;
$--material-theme--ref--neutral--neutral92: #ebe7ec;
$--material-theme--ref--neutral--neutral94: #f0edf1;
$--material-theme--ref--neutral--neutral95: #f3eff4;
$--material-theme--ref--neutral--neutral96: #f6f2f7;
$--material-theme--ref--neutral--neutral99: #fffbff;
$--material-theme--ref--neutral--neutral100: #ffffff;
$--material-theme--ref--neutral--neutral5: #111114;
$--material-theme--ref--neutral--neutral25: #3c3b3f;
$--material-theme--ref--neutral--neutral35: #535256;
$--material-theme--ref--neutral--neutral98: #fcf8fd;
$--material-theme--ref--neutral-variant--neutral-variant0: #000000;
$--material-theme--ref--neutral-variant--neutral-variant10: #1b1b23;
$--material-theme--ref--neutral-variant--neutral-variant20: #303038;
$--material-theme--ref--neutral-variant--neutral-variant30: #47464f;
$--material-theme--ref--neutral-variant--neutral-variant40: #5f5d67;
$--material-theme--ref--neutral-variant--neutral-variant50: #777680;
$--material-theme--ref--neutral-variant--neutral-variant60: #918f9a;
$--material-theme--ref--neutral-variant--neutral-variant70: #acaab4;
$--material-theme--ref--neutral-variant--neutral-variant80: #c8c5d0;
$--material-theme--ref--neutral-variant--neutral-variant90: #e4e1ec;
$--material-theme--ref--neutral-variant--neutral-variant95: #f2effa;
$--material-theme--ref--neutral-variant--neutral-variant99: #fffbff;
$--material-theme--ref--neutral-variant--neutral-variant100: #ffffff;
$--material-theme--ref--neutral-variant--neutral-variant4: #0e0d15;
$--material-theme--ref--neutral-variant--neutral-variant5: #101018;
$--material-theme--ref--neutral-variant--neutral-variant6: #13131a;
$--material-theme--ref--neutral-variant--neutral-variant12: #1f1f27;
$--material-theme--ref--neutral-variant--neutral-variant17: #2a2931;
$--material-theme--ref--neutral-variant--neutral-variant22: #34343c;
$--material-theme--ref--neutral-variant--neutral-variant24: #393841;
$--material-theme--ref--neutral-variant--neutral-variant25: #3b3a43;
$--material-theme--ref--neutral-variant--neutral-variant35: #52515a;
$--material-theme--ref--neutral-variant--neutral-variant87: #dcd8e3;
$--material-theme--ref--neutral-variant--neutral-variant92: #eae6f2;
$--material-theme--ref--neutral-variant--neutral-variant94: #f0ecf7;
$--material-theme--ref--neutral-variant--neutral-variant96: #f5f2fd;
$--material-theme--ref--neutral-variant--neutral-variant98: #fcf8ff;
$--material-theme--key-colors--primary: #292961;
$--material-theme--source--seed: #292961;

/* Text-size styles */
$--material-theme--display--large: 57px;
$--material-theme--display--medium: 45px;
$--material-theme--display--small: 36px;
$--material-theme--headline--large: 32px;
$--material-theme--headline--medium: 28px;
$--material-theme--headline--small: 24px;
$--material-theme--title--large: 22px;
$--material-theme--title--medium: 16px;
$--material-theme--title--small: 14px;
$--material-theme--body--large: 16px;
$--material-theme--body--medium: 14px;
$--material-theme--body--small: 12px;
$--material-theme--label--large: 14px;
$--material-theme--label--medium: 12px;
$--material-theme--label--small: 11px;
