* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--material-theme--sys--surface);
    color: var(--material-theme--sys--on-surface);
}
